services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgresdata:/var/lib/postgresql/data
  app:
      build: .
      environment:
        - APP_ENV=local
        - DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/postgres
      ports:
        - "8000:8000"
      depends_on:
        - db
  alembic:
    build: .
    environment:
      - APP_ENV=local
      - DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/postgres
    depends_on:
      - db
    command: ["alembic", "upgrade", "head"]
    
volumes:
  postgresdata: